Профессия Data Science  
Блок 2. Подгрузка данных  
**SQL-2. Агрегатные функции**

---

## **Оглавление:**

1. Знакомимся с данными
2. Убираем повторяющиеся значения
3. Агрегатные функции
4. 
---

## **1. Знакомимся с данными**

Таблица sql.pokemon:

**Название поля** - **Содержимое**  
**id**	            уникальный идентификатор  
**name**	        имя  
**type1**	        основной тип  
**type2**	        дополнительный тип  
**hp**	            количество очков здоровья  
**attack**	        показатели атаки  
**defense**	        показатели защиты  
**speed**	        показатели скорости

## **2. Убираем повторяющиеся значения**

Для начала получим все основные типы покемонов.
***SELECT /*выбор*/  
    type1 /*столбец type1*/  
FROM sql.pokemon /*из таблицы sql.pokemon*/***

Чтобы получить уникальные значения из столбца, воспользуемся ключевым словом **DISTINCT**.

***SELECT DISTINCT /*выбрать уникальные значения*/  
    type1 /*столбец type1*/  
FROM sql.pokemon /*из таблицы sql.pokemon*/***


***SELECT DISTINCT /*выбрать уникальные значения*/  
    type1, /*столбец type1*/  
    type2 /*столбец type2*/  
FROM sql.pokemon /*из таблицы sql.pokemon*/***

## **3. Агрегатные функции**

Давайте посчитаем количество строк в таблице. Для этого применим агрегатную функцию **COUNT**.

SELECT  
    COUNT(*)  
FROM sql.pokemon

COUNT считает строки, а звёздочка (*) в аргументе функции означает, что считаются все строки, которые возвращает запрос.

Если в аргументе функции указать название столбца, функция обработает **только строки с непустым значением.**

Внутри функции COUNT мы можем также применять DISTINCT, чтобы вычислить количество уникальных значений.

***SELECT /*выбор*/  
    COUNT(DISTINCT type1) /*функция подсчёта строк; уникальные значения столбца type1*/  
FROM sql.pokemon /*из таблицы sql.pokemon*/***

**Назовём основные агрегатные функции**, с которыми нам предстоит работать:

**COUNT** — вычисляет число непустых строк;  
**SUM** — вычисляет сумму;  
**AVG** — вычисляет среднее;  
**MAX** — вычисляет максимум;  
**MIN** — вычисляет минимум.

***SELECT   
   max(attack) /*функция подсчёта строк; уникальные значения столбца type1*/  
FROM sql.pokemon /*из таблицы sql.pokemon*/***

Разумеется, вы можете использовать в запросе фильтрацию строк с помощью WHERE, чтобы получить агрегированное значение только для отдельных строк.

**Задание 3.4**  
***SELECT   
  avg(hp)  
FROM sql.pokemon /*из таблицы sql.pokemon*/  
where type1 = 'Dragon'***

Кроме того, мы можем применять несколько агрегатных функций в одном запросе.

***SELECT /*выбор*/  
    COUNT(*) AS "всего травяных покемонов", /*подсчёт всех строк; назначить алиас "всего травяных покемонов"*/  
    COUNT(type2) AS "покемонов с дополнительным типом", /*подсчёт непустых строк в столбце type2; назначить алиас "покемонов с дополнительным типом"*/  
    AVG(attack) AS "средняя атака", /*среднее значение столбца attack; назначить алиас "средняя атака"*/  
    AVG(defense) AS "средняя защита" /*среднее значение столбца defense; назначить алиас "средняя защита"*/  
FROM sql.pokemon /*из таблицы sql.pokemon*/  
WHERE type1 = 'Grass'/*при условии, что значение столбца type1 содержит grass*/***


**Задание 3.5 (External resource)** 
 
***SELECT
    COUNT(*) AS "pokemon_count",  
    AVG(speed) AS "avg_speed",  
    max(hp) AS "max_hp",  
    min(hp) AS "min_hp"  
FROM sql.pokemon  
WHERE type1 = 'Electric'  
and (attack > 50 or defense > 50)  
and type2 is not null***