Профессия Data Science  
Блок 2. Подгрузка данных  
**SQL-1. Основы SQL**

---

## **Оглавление:**

1. Получаем все данные из таблицы


---

## **1. Получаем все данные из таблицы**

***SELECT *  
FROM sql.kinopoisk***

**! РАЗБИРАЕМ ЗАПРОС**

→ Оператор SELECT сообщает СУБД, что вы хотите извлечь из неё данные. SELECT лежит в основе любого SQL-запроса к БД.

→ FROM sql.kinopoisk сообщает, из какой таблицы извлекаются данные. Сначала указывается название схемы, в которой содержится таблица (в нашем случае — это sql), а после точки — название самой таблицы (kinopoisk).

→ Звёздочка * указывает, что вы хотите видеть все столбцы этой таблицы.

Если же вам нужны не все столбцы, а только некоторые, вместо звёздочки перечислите названия всех интересующих вас столбцов через запятую.

***SELECT /*выбор столбцов*/  
    movie_title, /*столбец movie_title*/  
    2020 - year, /*столбец, каждое из значений которого ровно разнице 2020 и соответствующего значения столбца year*/  
    rating /*столбец rating*/  
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/*** 


***SELECT /*выбрать столбцы*/
    director, /*столбец director*/
    movie_title, /*столбец movie_title*/
    10 - rating AS difference /*столбец, значения в котором равны разнице 10 и каждого соответствующего значения столбца rating; присвоить столбцу алиас difference*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/***

Новое имя является просто псевдонимом, или алиасом, — оно временное и не меняет реального имени столбца в базе данных. Алиас влияет только на то, как столбец отображается в выводе конкретного запроса.

Алиасом может быть как одно слово, так и несколько, а его написание — как латиницей, так и кириллицей.

**Обратите внимание!** Если в алиасе используются пробелы, необходимо заключать весь псевдоним в двойные кавычки, например, movie_title AS "Movie Title".

**ПРОСТЫЕ ОПЕРАЦИИ С ДАННЫМИ**

Со столбцами, которые содержат числовые данные, можно проводить арифметические операции:

сложение с помощью + ;  
вычитание с помощью - (этот тип операции вы уже проводили, когда определяли «возраст» фильма);  
умножение с помощью * ;  
деление с помощью / ;

Важно! Если и числитель, и знаменатель — целые числа, результат деления также будет целочисленным, то есть этот оператор произведёт деление нацело.

получение остатка от деления с помощью % .

***SELECT /*выбор столбцов*/
    director,
    movie_title, /*столбец movie_title*/
    10 * rating AS difference /*столбец, каждое из значений которого ровно разнице 2020 и соответствующего значения столбца year*/
    
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/***


***SELECT /*выбрать столбцы*/
    movie_title, /*столбец movie_title*/
    year / rating /*столбец, значения которого равны результату деления значений столбца year на соответствующие значения столбца rating*/
FROM sql.kinopoisk /*из таблицы sql.kinopoisk*/***